/* src/App.css */
.App-header {
  background-color: #282c34;
  padding: 20px;
  font-size: 16px; /* Smaller font size */
  color: white;
  text-align: left; /* Align text to the left */
  margin-bottom: 20px;
}

table {
  margin: auto;
  border-collapse: collapse;
  padding-top: '2rem';
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left; /* Align text to the left */
}

th {
  cursor: pointer;
  position: relative; /* Allows absolute positioning of the chevron inside */
}

.sort-indicator {
  margin-left: 5px;
}

th:hover {
  background-color: #f0f0f0;
}
